@charset "UTF-8";

@font-face{
    font-family: flicker;
    src: url(media/flicker_DEMO.otf);
}

*{
    color: black;
}

header{
    font-family: flicker;
    display: flex;
    font-size: 26px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100px;
}
.cabecalho{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.titulo{
    text-align: center;
}


.subtitulo{
    font-size: 18px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

nav{
    background-color: rgb(235, 162, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    
    
}

nav a{
    text-decoration: none;
    
    
    
}




nav a div:hover, nav div a:hover{
    background-color: rgb(211, 165, 211);
    color: rgb(255, 255, 255);
    
    
}

.dropdown-content2{
    
    text-align: center;
    padding: 3px 34px;
    border: 2px  rgb(235, 162, 235)solid;
}


.dropdown{
    position: relative;
    display: block;
    
    
    
}

.dropdown > a
{
padding: 2px 50px;
}   

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(219, 87, 219);
    
    
    
   
    
}

.dropdown-content2:hover{
    background-color: rgb(211, 165, 211);
    color: cornsilk;
}


.dropdown:hover .dropdown-content{
    display: block;
    

    
}
.barra2{
    padding: 4px 2px;
}

.barra3{
    padding: 4px 34px;
}
@media only screen and (min-width: 769px){

header{
    font-size: 40px;
}


.logo{
    width: 200px;
}


nav{
    flex-direction: row;
    height: auto;
}

.barra2{
    padding: 4px 34px;
}

footer{
    display: flex;
    flex-direction: row;
}

}