@charset "UTF-8";

@font-face{
    font-family: flicker;
    src: url(media/flicker_DEMO.otf);
}

*{
    color: black;
}

header{
    font-family: flicker;
    display: flex;
    font-size: 26px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100px;
}
.cabecalho{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.subtitulo{
    font-size: 18px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

nav{
    background-color: rgb(235, 162, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    
    
}

nav div a{
    text-decoration: none;
    
    
    
}




.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-content{
    display: none;
    position: absolute;
    
}

.dropdown-content a{
    display: block;
    background-color: blue;
    text-align: center;
    padding: 10px;
    
}



.dropdown:hover .dropdown-content{
    display: block;
    
}
@media only screen and (min-width: 769px){

header{
    font-size: 40px;
}


.logo{
    width: 200px;
}




}